@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
body{
    font-family: luckiest guy;
}
.main{
    background-color: rgb(194, 194, 251);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    text-align: center;
    color: white;
    background-color:rgba(35, 35, 91, 0.694) ;
    border-radius: 12px;
    min-height: fit-content;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(15, 15, 55, 0.733);
}
.title{
    width: 100%;
    border-bottom: 1px solid rgba(194, 194, 251, 0.751);
}
#game-heading{
    font-weight: 800;
    font-size: x-large;
    color: rgba(15, 15, 55, 0.5);

}

.trial-left{
    display: flex;
    flex-direction: row;
    /* gap:3px ; */
    margin: auto;
    justify-content: center;
    align-items: center;
}
.trial_count{
    width: 50%;
    background-color: rgba(139, 91, 91, 0.016);
    border: none;
    text-align: center;
    color: rgba(15, 15, 55, 0.5);
    font-weight: 400;
}

.input_value{
    width: 60%;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border: none;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(194, 194, 251, 0.443) ;
    color:rgba(15, 15, 55, 0.5) ;
    font-weight: 700;
    outline: none;
}
.enter_text{
    color:rgba(194, 194, 251, 0.443) ;
    display: flex;
}
.action_btn{
    background-color:rgba(15, 15, 55, 0.5) ;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    box-shadow: 0 0 6px rgba(15, 15, 55, 0.806);
}
@media screen and (min-width: 450px) and (max-width:1024px) {
    .main{
        width: 100%;
    }
    .wrap{
        width: 50%;
        height: 30vh;
    }
}
@media screen and (max-width: 450px) {
    .main{
        width: 100%;
    }
    .wrap{
        width: 300px;
        height: 30vh;
    }
}